<div class="card card-primary">
    <div class="text-center mt-4">
        <a href="https://deinsoft-la.com/" target="_blank" class="text-logo">
            <img src="assets/img/logo_deinsoft.png"
                alt="Deinsoft Logo"
                style="opacity: 0.8" width="30%" /> DEINSOFT
        </a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Iniciar sesión</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-12">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Confiar en este dispositivo </label>
                    </div>
                </div> -->
                <!-- /.col -->
                <div class="col-5 m-auto pt-2">
                    <app-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        Ingresar
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="text-center mt-4">
            <p class="mb-1">
                <a [routerLink]="['/forgot-password']">Olvidé mi contraseña</a>
            </p>
    
            
            <p class="mb-0">
                ¿No tienes cuenta? <a [routerLink]="['/register']" class="text-center">
                    Regístrate
                </a>
            </p>
            <img class="text-center mt-4" width="50%" src="assets/img/verificacion.png" alt="">
        </div>
       
    </div>
    <!-- /.login-card-body -->
</div>
