
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'webpagos.inv_mov_almacen.home.title'| translate}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form class="col-sm-12" style="padding-top: 6px;">
                        <div class="row">
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="row">
                                    <ng-container *ngFor="let item of error" >
                                        <div class="alert alert-danger col-sm-12 col-lg-12" *ngIf="error">{{item}}</div>
                                    </ng-container>
                                    
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.inv_tipo_mov_almacen' | translate}} <span *ngIf="loadingInvTipoMovAlmacen"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.invTipoMovAlmacen" [compareWith]="compareInvTipoMovAlmacen"
                                                    [(ngModel)]="model.invTipoMovAlmacen"
                                                    class="form-control col-sm-12 col-lg-12">
                                                    <option *ngIf="loadingInvTipoMovAlmacen" [ngValue]="0"
                                                        selected="selected">
                                                        Cargando...</option>
                                                    <option *ngIf="!loadingInvTipoMovAlmacen"
                                                        [ngValue]="selectDefaultInvTipoMovAlmacen">
                                                        {{selectDefaultCnfFormaPago.nombre}}</option>
                                                    <option *ngFor="let item of listInvTipoMovAlmacen; index as i;"
                                                        [ngValue]="item">{{item.nombre}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.cnf_local'
                                                |
                                                translate}} <span *ngIf="loadingCnfLocal"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.cnfLocal" [compareWith]="compareCnfLocal"
                                                    [(ngModel)]="model.cnfLocal"
                                                    class="form-control col-sm-12 col-lg-12"
                                                    (change)="getListInvAlmacen()">
                                                    <option *ngIf="loadingCnfLocal" [ngValue]="0" selected="selected">
                                                        Cargando...</option>
                                                    <option *ngIf="!loadingCnfLocal" [ngValue]="selectDefaultCnfLocal">
                                                        {{selectDefaultCnfLocal.nombre}}</option>
                                                    <option *ngFor="let item of listCnfLocal; index as i;"
                                                        [ngValue]="item">
                                                        {{item.nombre}}
                                                    </option>

                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">

                                        <div class="form-group-sm">
                                            <label for="fecha"
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.fecha'
                                                |
                                                translate}} <span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="input-group  input-group-md">
                                                    <input placeholder="dd/mm/yyyy"
                                                        class="form-control col-xs-10 col-sm-10 col-md-10 col-lg-11"
                                                        id="fecha" name="model.fecha" maxlength="200"
                                                        [(ngModel)]="model.fecha" ngbDatepicker #dfecha="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar button-dp"
                                                            (click)="dfecha.toggle()" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.cnf_tipo_comprobante'
                                                |
                                                translate}} <span *ngIf="loadingCnfTipoComprobante"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.cnfTipoComprobante"
                                                    [compareWith]="compareCnfTipoComprobante"
                                                    [(ngModel)]="model.cnfTipoComprobante"
                                                    class="form-control col-sm-12 col-lg-12"
                                                    (change)="loadSerie()">
                                                    <option *ngIf="loadingCnfTipoComprobante" [ngValue]="0"
                                                        selected="selected">Cargando...
                                                    </option>
                                                    <option *ngIf="!loadingCnfTipoComprobante"
                                                        [ngValue]="selectDefaultCnfTipoComprobante">
                                                        {{selectDefaultCnfTipoComprobante.nombre}}</option>
                                                    <option *ngFor="let item of listCnfTipoComprobante; index as i;"
                                                        [ngValue]="item">
                                                        {{item.nombre}}</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label for="serie"
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.serie'
                                                |
                                                translate}} <span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <input type="text" 
                                                    [(ngModel)]="model.serie" maxlength="4" 
                                                    name="serie"
                                                    id="serie" name="serie" class="form-control col-sm-12 col-lg-12"
                                                    placeholder="Ingrese serie" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label for="numero"
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.numero'
                                                | translate}} <span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <input type="text" [(ngModel)]="model.numero" maxlength="8"
                                                    name="numero" id="numero" name="numero"
                                                    class="form-control col-sm-12 col-lg-12"
                                                    placeholder="Número generado" readonly = "readonly" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.cnf_maestro'
                                                |
                                                translate}} <span *ngIf="loadingCnfMaestro"
                                                    class="spinner-border spinner-border-sm mr-1"></span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <input class="form-control-sm col-sm-12 col-lg-10"  type="text"
                                                    [(ngModel)]="model.cnfMaestro"  
                                                    name="model.cnfMaestro"
                                                    #input2 
                                                    [ngbTypeahead]="searchCnfMaestro"
                                                    [resultTemplate]="rt2" 
                                                    [inputFormatter]="formatterCnfMaestro"/>
                                                    <ng-template #rt2 let-r="result" let-t="term">
                                                        {{ r.apellidoPaterno}}  {{ r.apellidoMaterno}}  {{ r.nombres}}  -  {{ r.nroDoc}}
                                                    </ng-template>
                                                &nbsp;
                                                <a class="fas fa-plus"
                                                    style="cursor: pointer;" (click)="addNewCnfMestro()"
                                                    title="agregar"></a>
                                                
                                            </div>
                                        </div>
                                    </div> -->
                                    

                                    
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.inv_almacen'
                                                |
                                                translate}} <span *ngIf="loadingInvAlmacen"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.invAlmacen" [compareWith]="compareInvAlmacen"
                                                    [(ngModel)]="model.invAlmacen"
                                                    class="form-control col-sm-12 col-lg-12">
                                                    <option *ngIf="loadingInvAlmacen" [ngValue]="0" selected="selected">
                                                        Cargando...</option>
                                                    <option *ngIf="!loadingInvAlmacen"
                                                        [ngValue]="selectDefaultInvAlmacen">
                                                        {{selectDefaultInvAlmacen.nombre}}</option>
                                                    <option *ngFor="let item of listInvAlmacen; index as i;"
                                                        [ngValue]="item">{{item.nombre}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        
                                        <div class="form-group-sm row" *ngIf="this.model.invTipoMovAlmacen.naturaleza == '2'">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.cnf_local_destino'
                                                |
                                                translate}} <span *ngIf="loadingCnfLocal"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.cnfLocalDestino" [compareWith]="compareCnfLocalDestino"
                                                    [(ngModel)]="model.cnfLocalDestino"
                                                    class="form-control col-sm-12 col-lg-12"
                                                    (change)="getListInvAlmacenDestino()">
                                                    <option *ngIf="loadingCnfLocal" [ngValue]="0" selected="selected">
                                                        Cargando...</option>
                                                    <option *ngIf="!loadingCnfLocal" [ngValue]="selectDefaultCnfLocalDestino">
                                                        {{selectDefaultCnfLocal.nombre}}</option>
                                                    <option *ngFor="let item of listCnfLocalDestino; index as i;"
                                                        [ngValue]="item">
                                                        {{item.nombre}}
                                                    </option>

                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row" *ngIf="this.model.invTipoMovAlmacen.naturaleza == '2'">
                                            <label
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.inv_almacen_destino'
                                                |
                                                translate}} <span *ngIf="loadingInvAlmacen"
                                                    class="spinner-border spinner-border-sm mr-1"></span><span
                                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                            <div class="col-sm-12 col-lg-12">
                                                <select name="model.invAlmacenDestino" [compareWith]="compareInvAlmacenDestino"
                                                    [(ngModel)]="model.invAlmacenDestino"
                                                    class="form-control col-sm-12 col-lg-12">
                                                    <option *ngIf="loadingInvAlmacen" [ngValue]="0" selected="selected">
                                                        Cargando...</option>
                                                    <option *ngIf="!loadingInvAlmacen"
                                                        [ngValue]="selectDefaultInvAlmacenDestino">
                                                        {{selectDefaultInvAlmacen.nombre}}</option>
                                                    <option *ngFor="let item of listInvAlmacenDestino; index as i;"
                                                        [ngValue]="item">{{item.nombre}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group-sm row">
                                            <label for="observacion"
                                                class="col-lg-12 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.observacion'
                                                |
                                                translate}}</label>
                                            <div class="col-sm-12 col-lg-12">
                                                <input type="text" [(ngModel)]="model.observacion" maxlength="100"
                                                    name="observacion" id="observacion" name="observacion"
                                                    class="form-control col-sm-12 col-lg-12"
                                                    placeholder="Ingrese observacion" />
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-lg-3 col-sm-12 col-xs-12 align-middle">
                                <div class="form-group-sm row totales">
                                    <label for="total"
                                        class="col-lg-6 col-sm-12 col-form-label">{{'webpagos.inv_mov_almacen.total'
                                        |
                                        translate}} <span
                                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                                    <div class="col-sm-6 col-lg-6">
                                        <label class="col-sm-12 col-lg-12 col-form-label text-right">{{model.total | number : '1.2-2'}}</label>
                                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.total">{{
                                            error.total }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
        
                                    <div class="col-sm-12" style="padding-top: 20px;">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-6 col-lg-6 col-md-12" style="margin-left: 50x;">
                                                <a class="btn btn-default col-12" (click)="getBack()" data-toggle="modal">
                                                    <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnBack' | translate }}
                                                </a>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12" style="margin-left: 20x;">
                                                <a class="btn btn-primary col-12" (click)="save()" data-toggle="modal">
                                                    <i [ngClass]="id ? 'fa fa-pen' : 'fa fa-plus'"></i> {{ id ?
                                                    ('webpagos.btnEdit' | translate):('webpagos.btnSave' | translate) }}
                                                    </a>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br>
                        <div class="row">
                            <div class="col-12">
                                <h4 style="border-bottom: solid 1px;padding-bottom: 6px;">{{'webpagos.inv_mov_almacen.inv_mov_almacen_det' | translate}}</h4>
                            </div>
        
                        </div>
                        <div class="form-group-sm row" >
                           
                            <div class="form-group-sm row col-12 mb-2">
                                <label class="col-sm-12 col-lg-2 col-form-label">
                                    {{'webpagos.inv_mov_almacen_det.cnf_producto' | translate}}</label>
                                    <input autofocus class="form-control col-sm-12 col-lg-6"  type="text"
                                    [(ngModel)]="cnfProducto"  
                                    name="cnfProducto"
                                    #input 
                                    [ngbTypeahead]="searchProduct"
                                    [resultTemplate]="rt" 
                                    [inputFormatter]="formatter"
                                    (selectItem)="onchangeProduct($event,input)" />
                                    <ng-template #rt let-r="result" let-t="term">
                                        {{ r.nombre}}  -  {{ r.barcode}}
                                      </ng-template>
    
    
                            </div>
                            <div class="col-sm-12 col-lg-12">
                                <div >
                                    <table id="dtDataMovAlmacenform"
                                        class="col-xl-12 col-lg-12 col-sm-12 table table-sm table-striped table-bordered table-td-valign-middle">
                                        <thead>
                                            <tr>
                                                <th width="1%">Nro.</th>
                                                <th class="text-nowrap">{{'webpagos.cnf_producto.nombre' | translate}}</th>
                                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen_det.cantidad' | translate}}</th>
                                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen_det.precio' | translate}}</th>
                                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen_det.importe' | translate}}</th>
                                                <th width="1%" class="text-nowrap">{{'webpagos.actionsText' |
                                                    translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of model.listInvMovAlmacenDet; index as i"
                                                class="odd gradeX">
                                                <td width="1%" class="f-w-600 text-inverse">{{i+1}}</td>
                                                <td>{{item.cnfProducto.nombre}}</td>
                                                
                                                <td><input type="number" 
                                                    [(ngModel)]="item.cantidad" 
                                                    maxlength="14" name="cantidad_{{i}}"
                                                    class="form-control-sm col-sm-12 col-lg-12"
                                                    placeholder="Ingrese descripción"
                                                    (input)="onChangeCantidad(item,$event.target.value)"/></td>
                                                <td><input type="number" 
                                                    [(ngModel)]="item.precio" 
                                                    maxlength="14" name="precio_{{i}}"
                                                    class="form-control-sm col-sm-12 col-lg-12"
                                                    placeholder="Ingrese precio" 
                                                    (input)="onChangePrecio(item,$event.target.value)"/></td>
                                                <td><input type="number" 
                                                    [(ngModel)]="item.importe" 
                                                    maxlength="14" name="importe_{{i}}"
                                                    class="form-control-sm col-sm-12 col-lg-12"
                                                    placeholder="Ingrese importe" disabled /></td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-xs-6"><a
                                                                (click)="removeItem(i)"
                                                                style="cursor: pointer;" title="Cambiar estado"><i
                                                                    class="fa fa-trash fa-lg"></i></a></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->