<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" translate = "ocscloudApp.securityModule"></a></li>
    <li class="breadcrumb-item active" translate = "ocscloudApp.actCajaTurno.home.title"></li>
</ol>
<h1 class="page-header" translate = "ocscloudApp.actCajaTurno.home.title"><small translate = "ocscloudApp.actCajaTurno.home.subTitleForm"></small></h1>

<div class="panel panel-inverse" *ngIf="isDataLoaded">
    <!-- begin panel-heading -->
    <div class="panel-heading">
        <h4 class="panel-title" translate = "ocscloudApp.actCajaTurno.home.title"></h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                    class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                    class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                    class="fa fa-minus"></i></a>

        </div>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
        <div class="table-responsive">
            <h4 style="border-bottom: solid 1px;padding-bottom: 6px;">{{'ocscloudApp.register' | translate}} - {{'ocscloudApp.actCajaTurno.home.title' | translate}}</h4>
            <form class="col-sm-12" style="padding-top: 6px;"  >
                <div class="form-group-sm row" >
	                <label for="fechaApertura" class="col-lg-3 col-sm-12 col-form-label">{{'ocscloudApp.actCajaTurno.fechaApertura' | translate}}</label>
                    <div class="col-sm-12 col-lg-9">
                            <input type="text" [(ngModel)]="model.fechaApertura" maxlength="200" name="fechaApertura" id="fechaApertura" name = "fechaApertura" class="form-control-sm col-sm-12 col-lg-6" placeholder="Ingrese fechaApertura"/>
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.fechaApertura">{{ error.fechaApertura }}</div>
                    </div>
                </div>
                <div class="form-group-sm row" >
	                <label for="fechaCierre" class="col-lg-3 col-sm-12 col-form-label">{{'ocscloudApp.actCajaTurno.fechaCierre' | translate}}</label>
                    <div class="col-sm-12 col-lg-9">
                            <input type="text" [(ngModel)]="model.fechaCierre" maxlength="200" name="fechaCierre" id="fechaCierre" name = "fechaCierre" class="form-control-sm col-sm-12 col-lg-6" placeholder="Ingrese fechaCierre"/>
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.fechaCierre">{{ error.fechaCierre }}</div>
                    </div>
                </div>
                <div class="form-group-sm row" >
	                <label for="estado" class="col-lg-3 col-sm-12 col-form-label">{{'ocscloudApp.actCajaTurno.estado' | translate}}</label>
                    <div class="col-sm-12 col-lg-9">
                            <input type="text" [(ngModel)]="model.estado" maxlength="1" name="estado" id="estado" name = "estado" class="form-control-sm col-sm-12 col-lg-6" placeholder="Ingrese estado"/>
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.estado">{{ error.estado }}</div>
                    </div>
                </div>
                <div class="form-group-sm row" >
	                <label class="col-lg-3 col-sm-12 col-form-label">{{'ocscloudApp.actCajaTurno.segUsuario' | translate}} <span *ngIf="loadingSegUsuario" class="spinner-border spinner-border-sm mr-1"></span><span style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
	                    <select name="model.segUsuario" [compareWith]="compareSegUsuario" [(ngModel)]="model.segUsuario" 
                                class="form-control-sm col-sm-12 col-lg-6">
                                    <option *ngIf="loadingSegUsuario" [ngValue]="0" selected="selected">Cargando...</option>
                                    <option *ngIf="!loadingSegUsuario" [ngValue]="selectDefaultSegUsuario" >{{selectDefaultSegUsuario.name}}</option>
                                    <option *ngFor="let item of listSegUsuario; index as i;" [ngValue]="item" >{{item.nombre}}</option>
                                    
                                </select>
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?['segUsuario.nombre']:false">{{error["segUsuario.nombre"] }}</div>
                    </div>
                            </div>
<div class="form-group row">

                    <div class="col-sm-12" style="padding-top: 20px;">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                <button class="btn btn-default col-12" (click)="getBack()" >
                                    <i class="fa fa-arrow-circle-left"></i> {{'ocscloudApp.btnBack' | translate }}
                                </button>
                            </div>
                            <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 20x;">
                                <button class="btn btn-orange col-12" (click)="save()" >
                                    <i [ngClass]="model.id ? 'fa fa-pen' : 'fa fa-plus'"></i> {{ model.id ? ('ocscloudApp.btnEdit' | translate):('ocscloudApp.btnSave' | translate) }}
                                </button>
                            </div>

                        </div>
                    </div>
                </div></form>
        </div>
      </div>
</div>
