<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" translate = "ocscloudApp.securityModule"></a></li>
    <li class="breadcrumb-item active" translate = "ocscloudApp.<varTableNameClassParent>.home.title"></li>
    <li class="breadcrumb-item active" translate = "ocscloudApp.<varTableNameClassParent>.home.addNew<tableChildJavaClass>"></li>
</ol>
<h1 class="page-header" translate = "ocscloudApp.<varTableNameClassParent>.home.title"> <small  translate="ocscloudApp.<varTableNameClassParent>.home.subTitleForm"></small></h1>

<div class="panel panel-inverse" *ngIf="isDataLoaded">
    <!-- begin panel-heading -->
    <div class="panel-heading">
        <h4 class="panel-title" translate = "ocscloudApp.<varTableNameClassParent>.home.addNew<tableChildJavaClass>"></h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                    class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                    class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                    class="fa fa-minus"></i></a>

        </div>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
        <div class="table-responsive">
            <h4 style="border-bottom: solid 1px;padding-bottom: 6px;" translate = "ocscloudApp.<varTableNameClassParent>.home.addNew<tableChildJavaClass>"></h4>
            <form class="col-sm-12" style="padding-top: 6px;">
                

