<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" translate = "ocscloudApp.securityModule"></a></li>
    <li class="breadcrumb-item active" translate = "ocscloudApp.cnfProvincia.home.title"></li>
</ol>
<h1 class="page-header" translate = "ocscloudApp.cnfProvincia.home.title"><small translate = "ocscloudApp.cnfProvincia.home.subTitleList"></small></h1>

<div class="panel panel-inverse">
    <!-- begin panel-heading -->
    <div class="panel-heading">
        <h4 class="panel-title" translate = "ocscloudApp.cnfProvincia.home.title"></h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                    class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                    class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                    class="fa fa-minus"></i></a>

        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="col-md-12 table">
                <tr>
                    <td>
                        <div class="col-md-12 col-xs-9" style="margin-left:-15px">
                            <button class="btn btn-orange" [routerLink]="['/new-cnf-provincia']"
                                data-toggle="modal">
                                <i class="fa fa-plus"></i> {{'ocscloudApp.btnNew' | translate }}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="dtDataCnfProvincia" class="col-xl-12 col-lg-12 col-sm-12 table table-sm table-striped table-bordered table-td-valign-middle">
                <thead>
                    <tr>
                        <th width="1%">Nro.</th>			<th class="text-nowrap">{{'ocscloudApp.cnfProvincia.nombre' | translate}}</th>
			<th class="text-nowrap">{{'ocscloudApp.cnfProvincia.cnfRegion' | translate}}</th>
	<th class="text-nowrap">{{'ocscloudApp.actionsText' | translate}}</th>
		</tr>
            </thead>
	<tr>
                    <th></th>	<th><input type="text" class="form-control-sm" placeholder="{{'ocscloudApp.searchFor' | translate}} {{'ocscloudApp.cnfProvincia.nombre' | translate}}" name="search-id" [(ngModel)]="modelSearch.nombre" (keyUp.enter)="getAllData()"/></th>	<th></th></tr><tbody>
                    
                    <tr *ngFor="let item of lista; index as i" class="odd gradeX">
                        <td width="1%" class="f-w-600 text-inverse">{{i+1}}</td>			<td>{{item.nombre}}</td>
			<td>{{item.cnfRegion?.nombre}}</td>
<td>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6 text-right"><a class="fas fa-edit" (click)="editar(item)" style="cursor: pointer;"
                                         title="{{'ocscloudApp.btnEdit' | translate}}"></a></div>
                                <div class="col-sm-6 col-xs-6"><a (click) = "eliminar(item)" style="cursor: pointer;" title="{{'ocscloudApp.btnDelete' | translate}}"><i
                                            class="fa fa-trash fa-lg"></i></a></div>
                            </div>
                        </td></tr>
                </tbody>	</table>
    </div>    </div>    </div>
