<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" (click)="onToggleMenuSidebar()" role="button"
            ><i class="fas fa-bars"></i
        ></a>
    </li>
    <!-- <li class="nav-item d-none d-sm-inline-block"> 
        <a [routerLink]="['/']" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/blank']" class="nav-link">Contact</a>
    </li> -->
</ul>

<form class="form-inline ml-3" [formGroup]="searchForm" *ngIf = "false" >
    <div class="input-group input-group-sm">
        <input
            class="form-control form-control-navbar"
            type="search"
            placeholder="Search"
            aria-label="Search"
        />
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
<ul class="navbar-nav" >
    
    <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=978512583&text=Buenos días, quisiera mas información para subir de plan del sistema " 
    target="_blank">
        MEJORAR PLAN / ASISTENCIA TECNICA <i class="fas fa-user"></i>
    </a> 
</ul>
<ul class="navbar-nav ml-auto mr-2">
    
    <!-- <app-messages></app-messages>
    <app-notifications></app-notifications>
    <app-language></app-language> -->
    <!-- <button class="btn btn-success" style="margin-inline: 15px;" type="submit">
        MEJORAR PLAN
    </button> -->
    <app-user></app-user>
</ul>
