<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" translate = "webpagos.securityModule"></a></li>
    <li class="breadcrumb-item active" translate = "webpagos.cnfTipoSistema.home.title"></li>
    <li class="breadcrumb-item active" translate = "webpagos.cnfTipoSistema.home.addNewCnfMenuTipoSistema"></li>
</ol>
<h1 class="page-header" translate = "webpagos.cnfTipoSistema.home.title"> <small  translate="webpagos.cnfTipoSistema.home.subTitleForm"></small></h1>

<div class="panel panel-inverse" *ngIf="isDataLoaded">
    <!-- begin panel-heading -->
    <div class="panel-heading">
        <h4 class="panel-title" translate = "webpagos.cnfTipoSistema.home.addNewCnfMenuTipoSistema"></h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                    class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                    class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                    class="fa fa-minus"></i></a>

        </div>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
        <div class="table-responsive">
            <h4 style="border-bottom: solid 1px;padding-bottom: 6px;" translate = "webpagos.cnfTipoSistema.home.addNewCnfMenuTipoSistema"></h4>
            <form class="col-sm-12" style="padding-top: 6px;">
                
                <div class="form-group-sm row">
                    <label class="col-lg-3 col-sm-12 col-form-label">{{'ocscloudApp.segMenu.nombre' | translate}} 
						<span *ngIf="loadingSegMenu" class="spinner-border spinner-border-sm mr-1"></span>							<span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
                        <select name="model.segMenu" [(ngModel)]="model.segMenu"
                        [compareWith]="compareSegMenu"
                            class="form-control-sm col-sm-12 col-lg-6">
                            <option *ngIf="loadingSegMenu" [ngValue]="0" selected="selected">Cargando...</option>
                            <option *ngIf="!loadingSegMenu" [ngValue]="selectDefaultSegMenu">{{selectDefaultSegMenu.nombre}}</option>
                            <option *ngFor="let item of listSegMenu; index as i;" [ngValue]="item">{{item.nombre}}
                            </option>
                        </select>
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?["segMenu.nombre"]:false'>{{ error["segMenu.nombre"] }}</div>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-sm-12" style="padding-top: 20px;">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                <button class="btn btn-default col-12"  (click) = "back()">
                                    <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnCancel' | translate}}
                                </button>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-5" style="margin-left: 20x;">
                                <button class="btn btn-orange col-12" (click)="save()" >
                                    <i class="fa fa-plus"></i> {{'webpagos.btnSaveAndClose' | translate}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
