

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'webpagos.seg_usuario.home.title'| translate}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form class="col-sm-12" style="padding-top: 6px;">
                        
                        <div class="form-group row mb-1" *ngIf="!id">
                            <label for="password"
                                class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.seg_usuario.password' |
                                translate}}</label>
                            <div class="col-sm-12 col-lg-9">
                                <input type="password" [(ngModel)]="model.password" minlength="8"  maxlength="20"
                                    id="model.password" name="model.password"
                                    required class="form-control-sm col-sm-12 col-lg-6"
                                    placeholder="Ingrese password" #password="ngModel"
                                    [ngClass]="{ 'is-invalid': password.invalid && password.touched }" />
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.password">{{
                                    error.password }}</div>
                                <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                                        Contraseña debe tener al menos 8 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="!id">
                            <label for="repassword"
                                class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.seg_usuario.repassword' |
                                translate}}</label>
                            <div class="col-sm-12 col-lg-9">
                                <input type="password" [(ngModel)]="model.repassword" minlength="8"  maxlength="20" 
                                    id="model.repassword" name="model.repassword"
                                    class="form-control-sm col-sm-12 col-lg-6"
                                    #repassword="ngModel"
                                    required
                                    placeholder="Ingrese repassword" 
                                    [ngClass]="{'is-invalid':  repassword.invalid && repassword.touched || passwordMismatch }"/>
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.repassword">{{
                                    error.repassword }}</div>
                                <div *ngIf="repassword.invalid && repassword.touched && !passwordMismatch" class="invalid-feedback">
                                        Contraseña debe tener al menos 8 caracteres
                                </div>
                                <div *ngIf="(repassword.invalid && repassword.touched) || passwordMismatch" class="invalid-feedback">
                                        Contraseñas deben coincidir
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm row" *ngIf="id">
                            <label
                                class="col-xl-3 col-lg-3 col-sm-12 col-form-label">{{'webpagos.seg_usuario.seg_rol_usuario'
                                | translate}}: <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>

                            <div class="col-sm-12 col-lg-9">
                                <div *ngIf="model.listSegRolUsuario && model.listSegRolUsuario.length > 0? false:true">
                                    {{'webpagos.noRows' | translate }}
                                </div>
                                <div *ngIf="model.listSegRolUsuario && model.listSegRolUsuario.length > 0?true:false">
                                    <table id="dtData"
                                        class="col-xl-6 col-lg-6 col-sm-12 table table-sm table-striped table-bordered table-td-valign-middle">
                                        <thead>
                                            <tr>
                                                <th width="1%">Nro.</th>
                                                <th class="text-nowrap">{{'webpagos.seg_rol.nombre' | translate}}</th>
                                                <th width="1%" class="text-nowrap">{{'webpagos.actionsText' |
                                                    translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of model.listSegRolUsuario; index as i"
                                                class="odd gradeX">
                                                <td width="1%" class="f-w-600 text-inverse">{{i+1}}</td>
                                                <td>{{item.segRol.nombre}}</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-xs-6"><a
                                                                (click)="quitarSegRolUsuario(item)"
                                                                style="cursor: pointer;" title="Cambiar estado"><i
                                                                    class="fa fa-trash fa-lg"></i></a></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <a style="color: blue;text-decoration: underline;cursor: pointer;"
                                        (click)="agregarSegRolUsuario()">Añadir SegRolUsuario</a>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">

                            <div class="col-sm-12" style="padding-top: 20px;">
                                <div class="row justify-content-center">
                                    <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                        <button class="btn btn-default col-12" (click)="getBack()">
                                            <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnCancel' | translate }}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-5"
                                        style="margin-left: 20x;">
                                        <button class="btn btn-primary col-12" (click)="save()">
                                            <i [ngClass]="'fa fa-pen'"></i> {{'webpagos.btnEdit' | translate }}
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->