

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'webpagos.inv_mov_almacen.home.title'| translate}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-md-12 col-lg-6 col-xl-6 col-xs-9" style="margin-left:-15px">
                                <button class="btn btn-primary" [routerLink]="['/new-mov-almacen']"
                                        data-toggle="modal">
                                        <i class="fa fa-plus"></i> {{'webpagos.btnNew' | translate }}
                                    </button>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <table id="dtDataInvMovAlmacen"
                        class="col-xl-12 col-lg-12 col-sm-12 table table-sm table-striped table-bordered table-td-valign-middle">
                        <thead>
                            <tr>
                                <th width="1%">Nro.</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.cnf_local' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.fecha' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.cnf_tipo_comprobante' | translate}}
                                </th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.inv_tipo_mov_almacen' | translate}}
                                </th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.inv_almacen' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.cnf_maestro' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.serie' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.numero' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.fechareg' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.total' | translate}}</th>
                                <th class="text-nowrap">{{'webpagos.inv_mov_almacen.flag_estado' | translate}}</th>
                                
                                
                                <th class="text-nowrap">adfsdgsd</th>
                            </tr>
                        </thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><input type="text" class="form-control-sm"
                                    placeholder="{{'webpagos.searchFor' | translate}} {{'webpagos.inv_mov_almacen.serie' | translate}}"
                                    name="search-id" [(ngModel)]="modelSearch.serie" (keyUp.enter)="getAllData()" />
                            </th>
                            <th><input type="text" class="form-control-sm"
                                    placeholder="{{'webpagos.searchFor' | translate}} {{'webpagos.inv_mov_almacen.numero' | translate}}"
                                    name="search-id" [(ngModel)]="modelSearch.numero" (keyUp.enter)="getAllData()" />
                            </th>
                            <th><input type="text" class="form-control-sm"
                                    placeholder="{{'webpagos.searchFor' | translate}} {{'webpagos.inv_mov_almacen.flagEstado' | translate}}"
                                    name="search-id" [(ngModel)]="modelSearch.flagEstado"
                                    (keyUp.enter)="getAllData()" /></th>
                            
                            
                            <th></th>
                            <th></th>
                        </tr>
                        <tbody>

                            <tr *ngFor="let item of lista; index as i" class="odd gradeX">
                                <td width="1%" class="f-w-600 text-inverse">{{i+1}}</td>
                                <td>{{item.cnfLocal?.nombre}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.cnfTipoComprobante?.nombre}}</td>
                                <td>{{item.invTipoMovAlmacen?.nombre}}</td>
                                <td>{{item.invAlmacen?.nombre}}</td>
                                <td>{{item.cnfMaestro?.nombre}}</td>
                                <td>{{item.serie}}</td>
                                <td>{{item.numero}}</td>
                                <td>{{item.fechareg}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.flagEstado=='1'?"Activo":"Anulado"}}</td>
                                
                                <td>
                                    <div class="row row2">
                                        <div class="col-sm-6 col-xs-6 text-right"><a class="fas fa-edit"
                                                (click)="editar(item)" style="cursor: pointer;"
                                                title="{{'webpagos.btnEdit' | translate}}"></a></div>
                                        <div class="col-sm-6 col-xs-6"><a (click)="eliminar(item)"
                                                style="cursor: pointer;"
                                                title="{{'webpagos.btnDelete' | translate}}"><i
                                                    class="fa fa-trash fa-lg"></i></a></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->